
#wrapper {
  width: 61em;
  margin: auto;
  height: 22em;
  transform: translate(-50%, -50%);
  position: absolute;
}

div.container {
  width: 50px;
  height: 50px;
  margin: 20px;
  padding: 0;
  float: left;
}
p.inputs {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
button {
  margin: 10px;
}
p.timer {
  text-align: center;
  font-size: 15em;
  color: #fff;
  background-color: #222;
  float: left;
  width: 1.1em;
  margin: 10px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
    
}
div.inputs {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  left: 0%;
  top: 0%;
}
input {
  display: block;
  float: left;
  margin: 20px;
  width: 30px;
}
body {
  color: #000;
  background-color: #000;
  overflow: hidden;
}
